/* Modal For Login */
.modal_overlay_container {
  position: fixed;
  /* border: 10px solid red; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  /* border: 10px solid red; */
  z-index: 100;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_block {
  background-color: var(--White);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  /* max-width: 90%; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto;
}

.modal_overlay_container.show {
  opacity: 1;
  visibility: visible;
}
.modal_block h3:nth-child(1) {
  margin: 2rem 0;
}

.modal_block a {
  width: 250px;
  display: block;
  border-radius: 10px;
  margin: 1rem auto;
  text-decoration: none;
  padding: 10px;
  border: 1px solid var(--MainGreen);
}
.modal_block a:nth-child(2) {
  background-color: var(--MainGreen);
  color: #fff;
  box-shadow: 1px 1px 2px grey;
}
.modal_block a:nth-child(3) {
  /* border: 2px solid green; */
  color: var(--MainGreen);
}

@media screen and (max-width: 700px) {
  .modal_overlay_container {
    padding: 15px;
  }
}
